<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>contact.md</key>
			<dict>
				<key>lastModification</key>
				<real>515110854.20715499</real>
				<key>version</key>
				<dict>
					<key>568d8decd4e625928d51f70e3604769765e38bbd7ffaf8f15cbb33087f7bdd85</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>creative-commons.md</key>
			<dict>
				<key>lastModification</key>
				<real>515110854.20715803</real>
				<key>version</key>
				<dict>
					<key>568d8decd4e625928d51f70e3604769765e38bbd7ffaf8f15cbb33087f7bdd85</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>index.md</key>
			<dict>
				<key>lastModification</key>
				<real>515110878.49469399</real>
				<key>version</key>
				<dict>
					<key>568d8decd4e625928d51f70e3604769765e38bbd7ffaf8f15cbb33087f7bdd85</key>
					<integer>10</integer>
				</dict>
			</dict>
			<key>learning.md</key>
			<dict>
				<key>lastModification</key>
				<real>515110910.29991198</real>
				<key>version</key>
				<dict>
					<key>568d8decd4e625928d51f70e3604769765e38bbd7ffaf8f15cbb33087f7bdd85</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>making.md</key>
			<dict>
				<key>lastModification</key>
				<real>515110902.08653301</real>
				<key>version</key>
				<dict>
					<key>568d8decd4e625928d51f70e3604769765e38bbd7ffaf8f15cbb33087f7bdd85</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>robots.txt</key>
			<dict>
				<key>lastModification</key>
				<real>515110868.11228901</real>
				<key>version</key>
				<dict>
					<key>568d8decd4e625928d51f70e3604769765e38bbd7ffaf8f15cbb33087f7bdd85</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>teaching.md</key>
			<dict>
				<key>lastModification</key>
				<real>515110854.20715702</real>
				<key>version</key>
				<dict>
					<key>568d8decd4e625928d51f70e3604769765e38bbd7ffaf8f15cbb33087f7bdd85</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>testForKramdown.md</key>
			<dict>
				<key>lastModification</key>
				<real>515110854.20715702</real>
				<key>version</key>
				<dict>
					<key>568d8decd4e625928d51f70e3604769765e38bbd7ffaf8f15cbb33087f7bdd85</key>
					<integer>4</integer>
				</dict>
			</dict>
			<key>welcome.md</key>
			<dict>
				<key>lastModification</key>
				<real>515110854.20715398</real>
				<key>version</key>
				<dict>
					<key>568d8decd4e625928d51f70e3604769765e38bbd7ffaf8f15cbb33087f7bdd85</key>
					<integer>4</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>welcome.md</string>
		</array>
		<array>
			<string>index.md</string>
		</array>
		<array>
			<string>contact.md</string>
		</array>
		<array>
			<string>testForKramdown.md</string>
		</array>
		<array>
			<string>learning.md</string>
		</array>
		<array>
			<string>making.md</string>
		</array>
		<array>
			<string>teaching.md</string>
		</array>
		<array>
			<string>creative-commons.md</string>
		</array>
		<array>
			<string>robots.txt</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>568d8decd4e625928d51f70e3604769765e38bbd7ffaf8f15cbb33087f7bdd85</key>
			<integer>14</integer>
		</dict>
	</dict>
</dict>
</plist>
