    <div id="sectionBreak"></div>
    <div id="footer-container">

    	<div id="footer-top">

        	<div class="main_footer" id="footer-left">
                <h2>Useful Links</h2>
            <p>   
              <ul>
                <li><a id="footer-bottom-link" href="/">Locations</a></li>
                <li><a id="footer-bottom-link" href="/">Press</a></li>
                <li><a id="footer-bottom-link" href="/">FAQ</a></li>
                <li><a id="footer-bottom-link" href="/">Upcoming Schedule</a></li>
                <li><a id="footer-bottom-link" href="/">Archive</a></li>
              
              </ul>
            </p>
    		  </div>
        
            <div class="main_footer" id="footer-middle">
              <h2>Social</h2>
            <p>   
              <ul>
                <li><a id="footer-bottom-link" href="/">Twitter</a></li>
                <li><a id="footer-bottom-link" href="/">Blog</a></li>
                <li><a id="footer-bottom-link" href="/">Instagram</a></li>
                <li><a id="footer-bottom-link" href="/">Github</a></li>
              
              </ul>
            </p>
    				
    			 </div>

            <div class="main_footer" id="footer-right">
                <h2>More Information</h2>
                <p>
                    <ul>
                      <li><a id="footer-bottom-link"href="/">Safeguarding and Other Policies</a></li>
                      <li><a id="footer-bottom-link"href="/">Terms and Conditions</a></li>
                      <li><a id="footer-bottom-link" href="/">FAQ</a></li>
                    </ul>
                </p>
            </div>
        
    	</div> <!-- footer-top -->
 
        <div id="footer-bottom">
        <p id="footerText">&copy; {{ site.time | date: "%Y" }} STEAM Camp. London. UK.</p>

     
        </div>

      </div> <!-- footer-container -->
          	
    </div>



