        <header class="header">
            
            <div id="svgimage">
         {% include logo.svg %}
            </div>
            
        </header>
        <!--<nav class="nav breadcrumbs"></nav>-->
        <!-- Logo -->
          <div>
          <nav class="nav resource-categories">
              <ul>
                  <li class="about"><a href="{{ site.baseurl }}{% link index.md %}">Welcome</a></li>
                  <li class="about"><a href="{{ site.baseurl }}{% link about.md %}">What is STEAM?</a></li>
                  <li class="about"><a href="{{ site.baseurl }}{% link upcoming.md %}">Upcoming</a></li>
                  <li class="about"><a href="{{ site.baseurl }}{% link resources.md %}">Resources</a></li>
                  <li class="about"><a href="{{ site.baseurl }}{% link shop.md %}">Shop</a></li>
                  <li class="about"><a href="{{ site.baseurl }}{% link blog.md %}">Blog</a></li>
                  <li class="contact"><a href="{{ site.baseurl }}{% link contact.md %}">Contact</a></li>

              </ul>
          </nav>
        
        </div>


