<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>AUTHORS.txt</key>
			<dict>
				<key>lastModification</key>
				<real>515110840.59127498</real>
				<key>version</key>
				<dict>
					<key>568d8decd4e625928d51f70e3604769765e38bbd7ffaf8f15cbb33087f7bdd85</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>LICENSE.txt</key>
			<dict>
				<key>lastModification</key>
				<real>515110840.59127498</real>
				<key>version</key>
				<dict>
					<key>568d8decd4e625928d51f70e3604769765e38bbd7ffaf8f15cbb33087f7bdd85</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>515110840.59127498</real>
				<key>version</key>
				<dict>
					<key>568d8decd4e625928d51f70e3604769765e38bbd7ffaf8f15cbb33087f7bdd85</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>robots.txt</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>515110859.98062199</real>
				<key>lastModification</key>
				<real>515110859.98062199</real>
				<key>version</key>
				<dict>
					<key>568d8decd4e625928d51f70e3604769765e38bbd7ffaf8f15cbb33087f7bdd85</key>
					<integer>6</integer>
				</dict>
			</dict>
			<key>welcome.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>515110854.20809001</real>
				<key>lastModification</key>
				<real>515110854.20809001</real>
				<key>version</key>
				<dict>
					<key>568d8decd4e625928d51f70e3604769765e38bbd7ffaf8f15cbb33087f7bdd85</key>
					<integer>5</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>AUTHORS.txt</string>
		</array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>LICENSE.txt</string>
		</array>
		<array>
			<string>robots.txt</string>
		</array>
		<array>
			<string>welcome.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>568d8decd4e625928d51f70e3604769765e38bbd7ffaf8f15cbb33087f7bdd85</key>
			<integer>6</integer>
		</dict>
	</dict>
</dict>
</plist>
